<IfModule mod_rewrite.c>
    # obligatorio para que funcionen las directivas del "htaccess"
    RewriteEngine on
    # Redireccionar a la carpeta "public". $1: Fuerza el cumplimiento de la condición (rule) del 1er paréntesis
    RewriteRule ^([a-zA-Z0-9\-\_\/]*)$ public/$1
</IfModule>
